{% extends 'educationalsite/base.html' %}
{% load tags %}
{% block content %}
<h1 class='title'>Lesson 4 - Strings, Ints, Booleans, Floats</h1>
<!-- Maybe put the examples of data types in red -->
<p>Python has 4 different types of data types, things that can represent information, to set as values for variables, store information, and many more uses that you will learn throughout this course.</p>
<p>The first data type are integers, which you have already used last lesson.  Integers are whole real numbers, such as 4, -4, 0, etc.</p>
<p>The next data type are strings, which is also something you have already dealt with in the first and second lesson, and is simply text enclosed in quotation marks, such as "Hello, World!" and "I am currently learning Python!"</p>
<p>The third data type are booleans, which are very simple, True and False, which will become very useful later on in the course.</p>
<p>The fourth and final data type I will be going over is floats, which are the same as integers, except that they are non-whole real numbers, such as 4.3, -4.3, 6/4, etc.</p>
<p>Now it is up to you to experiment with all four of these data types, such as by printing out a float, setting the variable name equal to your name, or anything that you want.  Once you are done experimenting, you can move on to the next lesson.</p>
<button onclick="myFunction()">Click to reveal the solution</button>
<div id='myDIV' style='display: none;'><img style='margin-top: 65px;' src='https://testingforpersonalproject.neocities.org/Screenshots/Lesson%204.PNG'/></div>
<button style='margin-top: 65px'><a style='text-decoration: none;' href='Lesson 5 - Operators.htm'>Click to go to Lesson 5</a></a>
{% endblock content %}