{% extends 'educationalsite/base.html' %}
{% load tags %}
{% block content %}
<h1 class='title'>Lesson 25 - Tkinter</h1>
<p>Tkinter is one of my personal favorite modules, mainly because you can actual make a GUI, graphic user interface, with it, which we haven't been able to do so far in this course.  When I first tried out this package I was excited from the thought that I can finally do more than just run a program, instead I can properly interact with it!</p>
<p>First, we are going to have to import the module: </p>
<p class='code'>
	from tkinter import tkinter</p>
<p>
	<!-- Mention how to install modules using pip -->
<button><a style='text-decoration: none;' href='Mini Lesson 1 - Multiple Variable Names.html'>Click to go to Mini Lesson 1</a></a>
{% endblock content %}