{% extends 'educationalsite/base.html' %}
{% load tags %}
{% block content %}
<h1 class='title'>Lesson 1 - Welcome to Python!</h1>
<p>Listed below is all necessary downloads. <a href='https://www.guru99.com/how-to-install-python.html'>Use this guide to help you install Python 3 and Pycharm</a>, all credit for the guide goes to Guru99</p> <p><a href='https://www.python.org/downloads/release/python-370/'>Python 3</a></p>
<p><a href='https://www.jetbrains.com/pycharm/'>Jetbrains Pycharm</a></p>
<button onclick="location.href='Lesson 2 - Hello, World.htm'" type="button">Click here to start the course!</button>
{% endblock content %}