{% extends 'educationalsite/base.html' %}
{% load tags %}
{% block content %}
<h1 class=title>Lesson 2 - Hello, World</h1>
<img src='sources\py_welcomeScreen.png'/>
<img src='sources\Part 2.png'/>
<img src='sources\part 3.png'/>
<p>It is customary when you start learning programming by first outputting Hello, World!  To output Hello, World! in Python by using the function, which we will cover the exact defintion and in deeper detail, print('Hello, World!') and press the green play button at the top right corner!</p>
<p>You can mess around with outputting whatever you like, such as your name, just make sure to keep it between the quotes!</p>
<button onclick="myFunction()">Click to reveal the solution</button>
<div id='myDIV' style='display: none;'><img style='margin-top: 65px;' src='https://testingforpersonalproject.neocities.org/Screenshots/Lesson%202.PNG'/></div>
<button><a style='text-decoration: none;' href='Lesson 3 - Variables.html'>Click to go to Lesson 3</a></a>
{% endblock content %}