{% extends 'educationalsite/base.html' %}
{% load tags %}
{% block content %}
<h1 class='title'>Lesson 6 - Lists</h1>
<p>Lists are a way to store multiple data values, such as ints, strings, and floats discussed in Lesson 4.</p>
<p>The basic structure for a list is:
	 <p class='code'>a_list = [a, b, c]</p></p>
<p>Where a, b, and c are all data types, and they can be any data type and can store as many values as you want!</p>
	<p class='code'>data = [12, 'twelve', 12.0]</p></p>
<p>Similiar to booleans, lists will become very useful later on in this course, but for now it is up to you to experiment with lists</p>
<p>You can try setting a variable equal to a list containing the numbers 0-10, and then printing it out, or even printing out a list directly using print(), it is up to you!</p>
<p>Once you are done experimenting move on to the next lesson!</p>
<button onclick="myFunction()">Click to reveal the solution</button>
<div id='myDIV' style='display: none;'><img style='margin-top: 65px;' src='https://testingforpersonalproject.neocities.org/Screenshots/Lesson%206.PNG'/></div>
<button style='margin-top: 65px'><a style='text-decoration: none;' href='Lesson 7 - String Formatting.html'>Click to go to Lesson 7</a></a>
{% endblock content %}