{% extends 'educationalsite/base.html' %}
{% load tags %}
{% block content %}
<h1 class=title>Lesson 11 - For Loops</h1>
<p>For loops are a very important concept in Python, and will be used throughout your Python programming career.  For now, we will keep to the basics of for loops for now.</p>
<p>The basic syntax for a for loop is, for (any letter/word that you want) in (a list): print(the letter/word that you want)</p>
<p>The concept behind a for loop is that it will start at the beginning of a list, interact with that specific index, the index is the position in a list, and starts at 0 rather than 1, such as printing it out, and moving on to the next index in the list until the for loop has gone through every index in the list, it will stop</p>
<p>You can try out the for loop for yourself, such as by looping through [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] and outputting each number when it is being looped through.</p>
<!-- Mention break and contiue? -->
<p>I challenge you to find a way to print out your name, using for loops, one letter at a time.</p>
<button onclick="myFunction()">Click to reveal the solution</button>
<div id='myDIV' style='display: none;'><img id='pics' style='margin-top: 65px;' src='https://testingforpersonalproject.neocities.org/Screenshots/Lesson%2010.PNG'/></div>
<button style='margin-top: 65px'><a style='text-decoration: none;' href='Lesson 12 - Functions.html'>Click to go to Lesson 12</a></a>
{% endblock content %}