{% extends 'educationalsite/base.html' %}
{% load tags %}
{% block content %}
<h1 class='title'>Lesson 19 - If statements</h1>
<p>If statements are one of the most fundamental concepts of all programming languages, including Python.  The basic premise behind an if statement is, if this statment is true, perform this.  However, there is more to an if statement, meet elif and else.  Since you can't have more than one If in an if statement, after your first If, you have to use Elif if you still want to perform something if it is true, and you can have as many Elif's as you want.  Else is used for when the If and all of the Elif's are false, it will perform what is under the else statement, and there can only be one Else.  Here is the basic syntax for an if statement: </p>
<p class='code'>if (conditions):
<p class='code' style='padding-left: 2em;'>									(perform/execute this)</p>
<p class='code'>								elif (other conditions):</p>
<p class='code' style='padding-left: 2em;'>									(perform/execute this)</p>
<p class='code'>								elif (other other conditions):</p>
<p class='code' style='padding-left: 2em;'>									(perform/execute this)</p>
<p class='code'>								else: </p>
<p class='code' style='padding-left: 2em;'>									(perform/execute this)</p>
<p></p>
<button><a style='text-decoration: none;' href='Lesson 19 - ADD THIS BEFORE CONDITINOS.html'>Click to go to Lesson 19</a></a>
{% endblock content %}